@use './typography' as *;

@use 'vuetify/settings' with (
  $utilities: (
    "typography": (
      property: (
        font-size,
        font-weight,
        line-height,
        letter-spacing,
        font-family,
        text-transform // <-- restoring this line
      ),
      values: $flat-typography, // <-- ensures we only generate MD2 variants
    ),
  ),

  $alert-title-font-size: tools.map-deep-get(.$typography, 'h6', 'size'),
  $alert-title-font-weight: tools.map-deep-get(.$typography, 'h6', 'weight'),
  $alert-title-letter-spacing: tools.map-deep-get(.$typography, 'h6', 'letter-spacing'),
  $banner-font-size: tools.map-deep-get(.$typography, 'body-2', 'size'),
  $banner-line-height: tools.map-deep-get(.$typography, 'subtitle-2', 'line-height'),
  $breadcrumbs-item-icon-font-size: tools.map-deep-get(.$typography, 'body-1', 'size'),
  $breadcrumbs-line-height: tools.map-deep-get(.$typography, 'subtitle-2', 'line-height'),
  $button-font-size: tools.map-deep-get(.$typography, 'button', 'size'),
  $button-font-weight: tools.map-deep-get(.$typography, 'button', 'weight'),
  $button-text-letter-spacing: tools.map-deep-get(.$typography, 'button', 'letter-spacing'),
  $button-text-transform: tools.map-deep-get(.$typography, 'button', 'text-transform'),
  $card-title-font-size: tools.map-deep-get(.$typography, 'h6', 'size'),
  $card-title-font-weight: tools.map-deep-get(.$typography, 'h6', 'weight'),
  $card-title-letter-spacing: tools.map-deep-get(.$typography, 'h6', 'letter-spacing'),
  $card-title-line-height: tools.map-deep-get(.$typography, 'h6', 'line-height'),
  $card-subtitle-font-size: tools.map-deep-get(.$typography, 'body-2', 'size'),
  $card-subtitle-font-weight: tools.map-deep-get(.$typography, 'body-2', 'weight'),
  $card-subtitle-letter-spacing: tools.map-deep-get(.$typography, 'body-2', 'letter-spacing'),
  $card-subtitle-line-height: tools.map-deep-get(.$typography, 'body-2', 'line-height'),
  $card-text-font-size: tools.map-deep-get(.$typography, 'body-2', 'size'),
  $card-text-font-weight: tools.map-deep-get(.$typography, 'body-2', 'weight'),
  $card-text-letter-spacing: tools.map-deep-get(.$typography, 'body-2', 'letter-spacing'),
  $card-text-line-height: tools.map-deep-get(.$typography, 'body-2', 'line-height'),
  $card-text-text-transform: tools.map-deep-get(.$typography, 'body-2', 'text-transform'),
  $chip-font-size: tools.map-deep-get(.$typography, "button", "size"),
  $dialog-card-text-letter-spacing: tools.map-deep-get(.$typography, 'body-1', 'letter-spacing'),
  $empty-state-headline-font-size: functions.map-deep-get(.$typography, 'h2', 'size'),
  $empty-state-headline-font-weight: functions.map-deep-get(.$typography, 'h2', 'weight'),
  $empty-state-headline-line-height: functions.map-deep-get(.$typography, 'h2', 'line-height'),
  $empty-state-headline-mobile-font-size: functions.map-deep-get(.$typography, 'h4', 'size'),
  $empty-state-text-font-size: functions.map-deep-get(.$typography, 'body-2', 'size'),
  $empty-state-text-font-weight: functions.map-deep-get(.$typography, 'body-2', 'weight'),
  $empty-state-text-line-height: functions.map-deep-get(.$typography, 'body-2', 'line-height'),
  $empty-state-title-font-size: functions.map-deep-get(.$typography, 'h6', 'size'),
  $empty-state-title-font-weight: functions.map-deep-get(.$typography, 'h6', 'weight'),
  $empty-state-title-line-height: functions.map-deep-get(.$typography, 'h6', 'line-height'),
  $fab-font-size: tools.map-deep-get(.$typography, 'button', 'size'),
  $fab-font-weight: tools.map-deep-get(.$typography, 'button', 'weight'),
  $input-font-size: tools.map-deep-get(.$typography, 'body-1', 'size'),
  $input-font-weight: tools.map-deep-get(.$typography, 'body-1', 'weight'),
  $list-item-nav-subtitle-font-weight: tools.map-deep-get(.$typography, 'body-2', 'weight'),
  $list-item-nav-subtitle-letter-spacing: tools.map-deep-get(.$typography, 'body-2', 'letter-spacing'),
  $list-item-subtitle-font-size: tools.map-deep-get(.$typography, 'body-2', 'size'),
  $list-item-subtitle-font-weight: tools.map-deep-get(.$typography, 'body-2', 'weight'),
  $list-item-subtitle-letter-spacing: tools.map-deep-get(.$typography, 'body-2', 'letter-spacing'),
  $list-item-title-font-size: tools.map-deep-get(.$typography, 'body-1', 'size'),
  $list-item-title-font-weight: tools.map-deep-get(.$typography, 'body-1', 'weight'),
  $list-item-title-letter-spacing: tools.map-deep-get(.$typography, 'subtitle-1', 'letter-spacing'),
  $list-item-title-line-height: tools.map-deep-get(.$typography, 'body-1', 'line-height'),
  $slider-thumb-label-font-size: tools.map-deep-get(.$typography, 'caption', 'size'),
  $snackbar-font-size: tools.map-deep-get(.$typography, 'body-2', 'size'),
  $snackbar-font-weight: tools.map-deep-get(.$typography, 'body-2', 'weight'),
  $snackbar-letter-spacing: tools.map-deep-get(.$typography, 'body-2', 'letter-spacing'),
  $snackbar-line-height: tools.map-deep-get(.$typography, 'body-2', 'line-height'),
  $system-bar-font-size: tools.map-deep-get(.$typography, 'caption', 'size'),
  $system-bar-font-weight: tools.map-deep-get(.$typography, 'caption', 'weight'),
  $system-bar-letter-spacing: tools.map-deep-get(.$typography, 'caption', 'letter-spacing'),
  $system-bar-line-height: tools.map-deep-get(.$typography, 'caption', 'line-height'),
  $system-bar-text-transform: tools.map-deep-get(.$typography, 'caption', 'text-transform'),
  $table-header-font-size: tools.map-deep-get(.$typography, 'caption', 'size'),
  $table-font-size: tools.map-deep-get(.$typography, 'body-2', 'size'),
  $table-row-font-size: tools.map-deep-get(.$typography, 'subtitle-2', 'size'),
  $icon-btn-font-size: tools.map-deep-get(.$typography, 'button', 'size'),
  $icon-btn-font-weight: tools.map-deep-get(.$typography, 'button', 'weight'),
);
